/* Import Design Tokens */
@import './lib/styles/tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
  }

  body {
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
  }

  /* Global input styles */
  input,
  textarea,
  select {
    border-radius: 8px;
  }
}

